<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webster.commerces">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppCore"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity,UnusedAttribute">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.maps.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.commerces.view.CreateCommerceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CategoryDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.commerces.view.DetailCommerceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.commerces.view.ListCommercesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.categories.view.ListCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.NotificationActivity" />
        <activity
            android:name=".activities.UpdateCommerceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cityselector.view.CreateCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.view.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="terms" />
                <data android:scheme="privacy" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.register.view.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.commerces.view.AdminCommerceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.deal.view.DealCommerceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.terms.TermsPrivacyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.DealsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.emergency.view.CreateEmergencyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.tutorial.TutorialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.commerces.view.ValidateCommercesActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9df5c7a3f0b5991ac166b9a2596cd2af6da3303a" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>